.contact-list > :not(a):first-child {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .contact-list > *:last-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  